<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="lib/bootstrap.css">
    <link rel="stylesheet" href="css/styles.css">
  </head>
  <body>
    <div id="body-container">
    </div>

    <script src="lib/jquery.js"></script>
    <script src="lib/underscore.js"></script>
    <script src="client-code.js"></script>

    <script id="login-template" type="text/template">
    <div id="workspace" class="container-fluid">
      <h1> Client Login </h1>
      <hr />
      <form role="form">
        <div class="form-group">
          <label for="userId">Login ID</label>
          <input id="userId" name="userId" class="form-control">
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input id="password" type="password" placeholder="Password"
                 name="password" class="form-control">
        </div>
        <button type="button" class="btn btn-primary" id="client-login-submit">
          Login
        </button>
      </form>
    </div>
    </script>

    <script id="dashboard-template" type="text/template">
      <header class="pull-left">
        <div class="pull-left">
          Dashboard
        </div>
        <div class="pull-right">
          Sign Out
        </div>
      </header>

      <div id="workspace" class="container-fluid">
        <div id="user-ops" class="col-xs-12">
          <div class="row">
            <div class="col-xs-4 operation">
              <img class="img-responsive" src="images/file-upload.png"
                   data-op="file-upload"/>
              <h1> File Upload </h1>
            </div>
            <div class="col-xs-4 operation">
              <img class="img-responsive" src="images/file-download.png"
                   data-op="file-download"/>
              <h1> File Download </h1>
            </div>
            <div class="col-xs-4 operation">
              <img class="img-responsive" src="images/analyse-network.png"
                   data-op="network-analysis"/>
              <h1> Network Analysis </h1>
            </div>
          </div>

          <div class="row">
            <div id="alert-space">
            </div>
          </div>
        </div>
      </div>
    </script>


  </body>
</html>


<script id="file-upload-template" type="text/template">

  <div id="file-upload" class="row">
    <div class="col-xs-4"></div>
    <div class="col-xs-4">
      <form id="file-upload" role="form" action="/file-upload" method="post"
            enctype="multipart/form-data" class="form-horizontal">
        <div class="form-group">
          <label for="inputFile" class="col-xs-4"></label>
          <div class="col-xs-8">
            <input type="file" name="inputFile" id="inputFile">
          </div>
        </div>
      </form>

    </div>


  </div>
  <div class="row">
    <div class="user-alert">
    </div>
  </div>
</script>

<script id="file-download-template" type="text/template">
    <div class="row">
      <div class="col-xs-6">
        <h2> Downloadable files </h2>
      </div>
      <div class="pull-right" id="download-results"></div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <table class="table table-striped">
          <tr>
            <th> File </th>
            <th> Download link </th>
          </tr>
          <% for (var i = 0; i < files.length; ++i) { %>
             <tr>
               <td> <%=  files[i] %> </td>
               <td>
                 <button id="download-button" class="btn btn-default"
                         data-filename="<%= files[i] %>">
                   Download
                 </button>
               </td>
             </tr>
           <% } %>
        </table>
      </div>
    </div>
</script>

  
<script id="logged-in-users-template" type="text/template">
    <div class="row">
      <div class="col-xs-6">
        <h2> Logged in clients </h2>
      </div>
      <div class="pull-right" id="download-results"></div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <table class="table table-striped">
          <tr>
            <th> Client ID </th>
            <th> Time of login </th>
          </tr>
          <% for (var i = 0; i < clients.length; ++i) { %>
             <tr>
               <td> <%=  clients[i].userId %> </td>
               <td> <%=  clients[i].timeOfLogin %> </td>
             </tr>
           <% } %>
        </table>
      </div>
    </div>
</script>

<script id="operation-access-denied" type="text/template">
  <h1> System Shutdown </h1>
  <hr>
  <p> <%= message %> </p>
</script>
