extends layout


block headerScripts

block content
  div.container-fluid
    div.row
      div.col-xs-4
      div.col-xs-4
        h1#container-h1 User Dashboard
    div.row
      div#client-workspace


  script#main-template(type='text/template')
    div.row
      div.col-xs-4
        img.action#req-upload(src="/images/file-upload-icon.png")
      div.col-xs-4
        img.action#req-download(src="/images/file-download-icon.png")
      div.col-xs-4
        img.action#req-analyse(src="/images/logs-icon.png")
    div.row
      div.user-alert

  script#upload-template(type='text/template')
    div.row
      div.col-xs-4
      div.col-xs-4
        form.form-horizontal#file-upload(role="form", action="/file-upload",
          method="post", enctype="multipart/form-data")
          div.form-group
            label.col-xs-4(for="inputFile")
            div.col-xs-8
              input(type="file", name="inputFile")
          button.col-xs-12.btn.btn-default(type="submit") Upload file
    div.row
      div.user-alert

  script#download-template(type='text/template')
    div.row
      div.col-xs-12
        h2 Downloadable files
    div.row
      div.col-xs-12
        table.table.table-striped
          tr
            th File
            th Download link
          each file in files
            tr
              td= file
              td
                a.btn(href="file-download/" + file) Download
          

  script#analyse-template(type='text/template')
    div.row
      div.col-xs-12
        h2 Users logged In
    div.row
      div.col-xs-12
        table.table.table-striped
          tr
            th User ID
            th Time of Log In
          each user in users
            tr
              td= user.id
              td= user.time


block jsScripts
  script(src="/javascripts/lib/jquery.js")
  script(src="/javascripts/lib/jquery.form.js")
  script(src="/javascripts/client-dashboard.js")