extends layout

block headerScripts

block content
  div.container-fluid
    div.row
      div.col-xs-4
      div.col-xs-4
        h1#container-h1 Manager Dashboard
    div.row
      div#manager-workspace
        | This network is protected by byzantine fault tolerance
        | Your unauthorized operations have been recorded and account
        | has been scheduled for deletion


block jsScripts
  script(src="/javascripts/lib/jquery.js")
  script(src="/javascripts/lib/jquery.form.js")
  script(src="/javascripts/manager-dashboard.js")