extends layout

block content
  div.container-fluid
    div.col-xs-4
    div.col-xs-4
      h1 Manager Login
      form(role="form", method="post", action="/manager-authentication")
        div.form-group
          label(for="userId") Email address
          input.form-control(placeholder="Enter email", name="userId")
        div.form-group
          label(for="password") Password
          input.form-control(type="password", placeholder="Password", name="password")
        button.btn.btn-primary(type="submit") Login
      if error
        p Error occured