extends layout


block headerScripts


block content
  div.container-fluid
    div.col-xs-3.sidebar
      ul.nav.nav-pills.nav-stacked
        li.active
          a#create-user(href="#") Create user
        li
          a#delete-user(href="#") Delete user
        li
          a#fraud-logs(href="#") Fraud Logs

    div.col-xs-9#manager-workspace
      
    
block jsScripts
  script#register-user-id(type="text/template")
    h1 Register
    hr
    form(role="form", action="/register", method="post")
      div.form-group
        label(for="name") User ID
        input.form-control(name="userId", placeholder="User ID")
      div.form-group
        label(for="first") First Name
        input.form-control(name="first", placeholder="First Name")
      div.form-group
        label(for="last") Last Name
        input.form-control(name="last", placeholder="Last Name")
      div.form-group
        label(for="age") Age
        input.form-control(placeholder="Age", name="age")
      div.radio
        label
          input(type="radio", name="gender", value="male", checked="checked")
          | Male
      div.radio
        label
          input(type="radio", name="gender", value="female", checked="checked")
          | Female
      div.form-group
        label(for="address") Address
        input.form-control(placeholder="Address", name="address")
      div.form-group
        label(for="phone") Phone
        input.form-control(placeholder="Phone", name="phone")
      div.form-group
        label(for="department") Department
        input.form-control(placeholder="Department", name="department")
      div.checkbox
        label
          input(type="checkbox", name="perms", value="upload")
          | Upload
      div.checkbox
        label
          input(type="checkbox", name="perms", value="download")
          | Download
      div.checkbox
        label
          input(type="checkbox", name="perms", value="analyse")
          | Analyse

      button.btn.btn-primary(type="submit") Submit

  script#delete-user-form(type="text/template")
    form(role="form", action="/delete-user", method="post")
      div.form-group
        label(for="name") User ID
        input.form-control(name="userId", placeholder="User ID")
      button.btn.btn-primary(type="submit") Submit
        
  script(src="/javascripts/lib/underscore.js")
  script(src="/javascripts/manager-dashboard.js")