body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.user-options {
    margin-top: 100px;
}

.user-options img {
    display: block;
    margin: auto;
}