header {
    padding: 0.5% 2% 0.5% 2%;
    background-color: #232323;
    color: #82B440;
    width: 100%;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

header div.pull-left {
    line-height: 1.75em;
    font-size: 1.5em;
}

header div.pull-left:hover {
    color: #F15A24
}

header div.pull-right {
    margin-top: 0.375em;
    line-height: 1.75em;
    font-size: 1em;
}

body {
    background-color: #D4D4D4;
}

#admin-ops {
    margin-top: 5%;
}

.operation h1,
.operation h4 {
    text-align: center;
}

.operation h1 {
    font-size: 2em;
}

.operation h4 {
    font-size: 1.2em;
}

#workspace {
    margin-left: 2%;
    margin-right: 2%;
}

h1.op-header {
    font-size: 2em;
    font-style: italic;
}

p.edit-results-heading {
    text-align: center;
    font-weight: bold;
}