extends layout

block content
  div.container-fluid
    div.col-xs-4
    div.col-xs-4
      h1 Client Login
      form(role="form", method="post", action="/authentication")
        div.form-group
          label(for="userId") User ID
          input.form-control(name="userId")
        div.form-group
          label(for="password") Password
          input.form-control(type="password", placeholder="Password",
            name="password")
        button.btn.btn-primary(type="submit") Login
      if error
        div.alert.alert-warning Invalid username password combination!
          | Maybe your account has been deleted